---
const url = Astro.url;

const pages = [
    { path: "/", title: "Presentation" },
    { path: "/install", title: "Installation" },
    {
        path: "/features",
        title: "Features",
        children: [
            { path: "/features/gherkin", title: "Gherkin" },
            { path: "/features/scenario", title: "Scenario" },
            { path: "/features/scenario", title: "Scenario Outline" },
            { path: "/features/rule", title: "Rules" },
            { path: "/features/hooks", title: "Hooks" },
        ],
    },
    { path: "/upcoming", title: "Upcoming" },
];

function getLinkClass(pageUrl) {
    return pageUrl === url.pathname ? "is--active" : "";
}
---

<div class="Doc-summary">
    <h2>Documentation</h2>
    <ul>
        {
            pages.map((p) => {
                return (
                    <li>
                        <a href={p.path} class={getLinkClass(p.path)}>
                            {p.title}
                        </a>
                        {p.children?.length > 0 && (
                            <ul>
                                {p.children?.map((child) => {
                                    return (
                                        <li>
                                            <a
                                                href={child.path}
                                                class={getLinkClass(child.path)}
                                            >
                                                {child.title}
                                            </a>
                                        </li>
                                    );
                                })}
                            </ul>
                        )}
                    </li>
                );
            })
        }
    </ul>
</div>

<style lang="scss" scoped>
    .Doc-summary {
        li {
            list-style-type: none;
            ul {
                margin-bottom: 5px;
            }
        }
        a {
            text-decoration: none;
            &.is--active {
                color: var(--main-color);
            }
        }
    }
</style>
